<section class="c-about">
  <p>Currently I am studying in the Interfacedesign programme at the <a href="https://www.en.fh-potsdam.de/" target="_blank">University of Applied Sciences Potsdam</a>. My focus is building data-driven interfaces and visualisations for conveying information about various topics.</p>
  
  <noscript>
    <p>In this section I have included a few interactive elements. To enhance comprehension please enable JavaScript in
      your browser settings.</p>
  </noscript>
  
  <section class="c-about-extended">
    <p> Text about me, bla bla bla...</p>
  </section>
  
  <button class="btn-about" data-toggle="collapse" data-target=".c-about-extended">Read more</button>

</section>
