<section class="row">

  <section class="four columns hi">
    <h1>Hi, I'm Dennis</h1>
  </section>

  <section class="eight columns">

    <section class="intro">
      <h1>I do things with coding and design.</h1>
      <p>Currently I'm studying Interfacedesign at the University of Applied Sciences in Potsdam, Germany.</p>
    </section>

    <section class="projects">
      <h2>Selected projects</h2>
      <h3><a href="https://imueberflutetenberlin.github.io/" target="_blank">Im überfluteten Berlin</a></h3>
      <p>A short description. About the project. Most important infos.</p>
      <h3><a href="https://dnsos.github.io/ritasgeschichte/" target="_blank">Ritas Geschichte</a></h3>
      <p>A short description. About the project. Most important infos.</p>
      <h3><a href="http://fhp-campusambulanz.de/" target="_blank">Campusambulanz</a></h3>
      <p>A short description. About the project. Most important infos.</p>
    </section>

  </section>
</section>
