<section class="row">

  <section class="three columns">

    <section class="intro">
      <h1 class="headline--highlighted"><span>Hi, I'm Dennis Ostendorf,</span></h1>
      <h1><span>currently a student of Interfacedesign at the <a href="https://www.en.fh-potsdam.de/" target="_blank">University of Applied Sciences Potsdam.</a></span></h1>
    </section>

    <section class="contact">
      <ul>
        <li class="contact--mail"><a href="mailto:d.ennis.o@web.de">d.ennis.o@web.de</a></li>
        <li class="contact--github"><a href="https://github.com/dnsos" target="_blank">dnsos</a></li>
      </ul>
    </section>

  </section>

  <section class="nine columns">

    <section class="about">
      <p><span>In projects I employ my design and development knowledge and try to address topics beyond my field.</span></p>
    </section>

    <h2>Selection of recent projects:</h2>
    <section>

      <section class="project__wrapper">
        <section class="project__title">
          <h2><a href="#">Leuchttisch</a></h2>
        </section>
        <section class="project__excerpt">
          <p><span>Concept</span></p>
        </section>
        <section class="project__image" id="project__leuchttisch--preview"></section>
      </section>

      <section class="project__wrapper">
        <section class="project__title">
          <h2><a href="#">RITA</a></h2>
        </section>
        <section class="project__excerpt">
          <p><span>Illustrated short story</span></p>
        </section>
        <section class="project__image" id="project__rita--preview"></section>
      </section>

      <section class="project__wrapper">
        <section class="project__title">
          <h2><a href="#">Im überfluteten Berlin</a></h2>
        </section>
        <section class="project__excerpt">
          <p><span>Interactive map</span></p>
        </section>
        <section class="project__image" id="project__iub--preview"></section>
      </section>

    </section>

  </section>
</section>
