<section class="row">

  <section class="three columns">

    <section class="intro">
      <h1 class="headline--highlighted"><span>Hi, I am Dennis Ostendorf,</span></h1>
      <h1><span>Interface Designer and Developer from Berlin.</span></h1>
    </section>

    <section class="contact">
      <ul>
        <li class="contact--mail"><a href="mailto:d.ennis.o@web.de">d.ennis.o@web.de</a></li>
        <li class="contact--github"><a href="https://github.com/dnsos" target="_blank">dnsos</a></li>
      </ul>
    </section>

  </section>

  <section class="nine columns">

    <section class="about">
      <p><span>Currently I am studying in the Interfacedesign programme at the <a href="https://www.en.fh-potsdam.de/" target="_blank">University of Applied Sciences Potsdam</a>. My recent works are mostly situated in the field of data and information visualisation with a thematical focus on socially and culturally relevant topics.</span></p>
    </section>

    {% include projects.html %}

  </section>
</section>
