<h2>Selected works</h2>

<section class="projects__grid">

  {% assign pages = site.pages %}
      {% for p in pages %}

        {% if p.tag == 'project' %}

          <section class="project__wrapper">
            <a href="{{site.baseurl}}{{p.permalink}}" class="project__anchor">
              <section class="project__title">
                <h3><span>{{p.title}}</span></h3>
              </section>
              <section class="project__excerpt">
                <p><span>{{p.excerpt}}</span></p>
              </section>
              <section class="project__image" id="project__{{p.ref}}--preview"></section>
            </a>
          </section>

        {% endif %}

      {% endfor %}

</section>
