<!--{% include work-in-progress.html %}-->

<h2><i class="projects__circle"></i>Selected Works</h2>

<section class="c-projects-overview">

  {% assign pages = site.pages | sort:"order" | reverse %}
      {% for p in pages %}

        {% if p.tag == 'project' %}

          <section class="c-projects-overview__wrapper">
            <a href="{{site.baseurl}}{{p.permalink}}" class="c-projects-overview__anchor">
              <section class="c-projects-overview__title">
                <h3><span>{{p.title}}</span></h3>
              </section>
              <section class="c-projects-overview__excerpt">
                <p><span>{{p.excerpt}}</span></p>
              </section>
              <figure class="c-projects-overview__image" id="project__{{p.ref}}--preview"></figure>
            </a>
          </section>

        {% endif %}

      {% endfor %}

</section>
