/* ROOT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --color-primary: rgb(225, 225, 225);
  --color-grey-07: rgb(238, 238, 238);
  --color-grey-61: rgb(100, 100, 100);

  --font-primary: 'Open Sans', Arial, sans-serif;
  --font-size-base: 1.5rem;
  --font-size-heading: 1.8rem;
  --font-underlined: inset 0 -2rem 0 white, 0 .2rem 0 white;

  --grid-spacing: 4rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  display: grid;
  grid-gap: var(--grid-spacing);
  grid-template-areas: 
    "sidebar"
    "content";
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
  animation: fadein 1s; }

@media (min-width: 400px) {
  .container {
    width: 80%;
    padding: 4rem 0 0; }
}

@media (min-width: 850px) {
  .container {
    grid-template-columns: 3fr 9fr;
    grid-template-areas: 
      "sidebar content";
    width: 70%;
    padding: 8rem 0 0; }

}

@media (min-width: 1250px) {
  .container {
    width: 60%; }
}

/* BASE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; }
body {
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-primary);
  background-color: white;
  color: var(--color-grey-61); }

/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: calc(var(--grid-spacing) / 2);
  font-weight: 700;
  letter-spacing: 0;
  color: var(--color-grey-61);

  span {
    box-shadow: var(--font-underlined);
  }
}

h1 { font-size: var(--font-size-heading); }
h2 { font-size: var(--font-size-base); }
h3 { font-size: var(--font-size-base); }
h4 { font-size: var(--font-size-base); }
h5 { font-size: var(--font-size-base); }
h6 { font-size: var(--font-size-base); }

p {
  margin-top: 0;
  margin-bottom: var(--grid-spacing); }

a {
  color: var(--color-grey-61);
  font-size: var(--font-size-base);
  font-style: italic;
  text-decoration: none;
  box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 var(--color-primary);
  transition: box-shadow .2s;
  overflow: hidden; }
a:hover {
  box-shadow: inset 0 -0.8rem 0 var(--color-primary), 0 .2rem 0 var(--color-primary); }

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  white-space: nowrap;
  color: inherit;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 var(--color-primary);
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0 -0.8rem 0 var(--color-primary), 0 .2rem 0 var(--color-primary);
}

button:hover, button:focus {
  outline: none;
}

/* grid-spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input,
textarea,
select,
fieldset {
  margin-bottom: calc(var(--grid-spacing) / 2); }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: calc(var(--grid-spacing) / 2); }

/* MISC
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::selection {
  color: rgb(255, 255, 255);
  background-color: var(--color-primary); }

::-moz-selection {
  color: rgb(255, 255, 255);
  background-color: var(--color-primary); }

/* SECTIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header__wrapper {
  position: relative;
  grid-area: sidebar;
}

@media (min-width: 850px) {
  .header__wrapper {
    position: fixed;
    top: 8rem;
    max-width: 20rem;
  }
}

.header__intro {
  h1 {
    font-style: normal;
    margin-bottom: 1rem;
  }
  p {
   font-family: var(--font-primary);
   font-size: var(--font-size-base);

   span {
     box-shadow: var(--font-underlined);
   }
   a {
     font-style: normal;
   }
 }

}

.header__contact {
  ul, li {
    margin-bottom: 0;
  }

  .header__contact--mail:before,
  .header__contact--github:before {
    display: inline-block;
    width: 1.5rem;
    margin-right: .5rem;
    transform: translateY(.4rem);
  }

  .header__contact--mail:before {
    content: url(/me/img/ic_mail.svg);
  }

  .header__contact--github:before {
    content: url(/me/img/ic_github.svg);
  }
}

main {
  grid-area: content;
}

.projects__list {
  width: 100%;
  padding-bottom: var(--grid-spacing);
  overflow: hidden;
}

.project__wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 15rem;
  margin-bottom: calc(var(--grid-spacing) / 2);
  background-color: black;

  .project__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: 2;
    transition: opacity .2s;
  }

  .project__title {
    position: absolute;
    width: 100%;
    padding-top: .8rem;
    text-align: center;
    z-index: 3;

    h3 {
      font-style: normal;
      line-height: normal;

      span {
        padding: 0 .4rem;
      }
    }
  }

  .project__excerpt {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;

    p {
      display: block;
      margin: 0 auto;
      font-size: calc(var(--font-size-base) - 0.2rem);
      text-align: center;

      span {
        display: inline;
        padding: .2rem .4rem;
        font-style: normal;
        background-color: white;
        box-shadow: none;
        vertical-align: baseline;
      }
    }
  }
}

@media (min-width: 400px) {
  .project__wrapper {
    width: 100%;
    height: 15rem;
  }
}

.project__wrapper:hover {
  cursor: pointer;

  .project__image {
    opacity: .8;
  }
}

.project__anchor {
  position: absolute;
  width: 100%;
  height: 100%;
}

a.project__anchor {
  box-shadow: none;
}

#project__vks--preview {
  background-image: url("/me/img/project_vks_preview_new.jpg");
}

#project__leuchttisch--preview {
  background-image: url("/me/img/project_leuchttisch_preview_new.jpg");
}

#project__rita--preview {
  background-image: url("/me/img/project_rita_preview_new.jpg");
}

#project__iub--preview {
  background-image: url("/me/img/project_iub_preview_new.jpg");
}

#project__various--preview {
  background-image: url("/me/img/project_various_preview_new.jpg");
}

.vks {
  a {
    box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 #f1f457;
  }
  a:hover {
    box-shadow: inset 0 -0.8rem 0 #f1f457, 0 .2rem 0 #f1f457;
  }
}

.leuchttisch {
  a {
    box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 #f7c29c;
  }
  a:hover {
    box-shadow: inset 0 -0.8rem 0 #f7c29c, 0 .2rem 0 #f7c29c;
  }
}

.iub {
  a {
    box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 #cac9d7;
  }
  a:hover {
    box-shadow: inset 0 -0.8rem 0 #cac9d7, 0 .2rem 0 #cac9d7;
  }
}

.rita {
  a {
    box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 #fccbc7;
  }
  a:hover {
    box-shadow: inset 0 -0.8rem 0 #fccbc7, 0 .2rem 0 #fccbc7;
  }
}

.various {
  a {
    box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 #fcc7d3;
  }
  a:hover {
    box-shadow: inset 0 -0.8rem 0 #fcc7d3, 0 .2rem 0 #fcc7d3;
  }
}

.project__back--button {
  position: relative;
  grid-area: sidebar;
}

@media (min-width: 850px) {
  .project__back--button {
    position: fixed;
    top: 8rem;
  }
}

.project__detail--wrapper {
  grid-area: content;
  width: 100%;
  padding-bottom: var(--grid-spacing);
  background-color: white;
  overflow-x: hidden;

  dl {
    margin-bottom: var(--grid-spacing);
      div {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: minmax(6rem, 1fr) 11fr;
        grid-template-areas: 
          "type content";
        line-height: 1.85;
        dt {
          grid-area: type;
          font-weight: 700;
        }
        dd {
          grid-area: content;
            span {
              padding: .2rem .5rem;
              background-color: var(--color-grey-07);
            }
        }
      }
  }

  .project__detail--content {
    p:nth-of-type(2) {
      width: 80%;
      padding: calc(var(--grid-spacing) / 2);
      margin: 0 auto var(--grid-spacing);
      font-style: italic;
      border: .1rem solid var(--color-primary);
    }

    p.to-overview {
      text-align: center;

      a {
        box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 var(--color-primary);
      }
      a:hover {
        box-shadow: inset 0 -0.8rem 0 var(--color-primary), 0 .2rem 0 var(--color-primary);
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
