:root {
  // colors
  --baseColor: rgb(238, 238, 238);
  --neutralColor: rgb(100, 100, 100);
  --primaryColor: rgb(0, 204, 92);
  --secondaryColor: rgb(169, 255, 190);

  // fonts
  --neutralFonts: 'Open Sans', Arial, sans-serif;
  --primaryFonts: 'Roboto', Arial, sans-serif;

  // misc
  --basicFontSize: 1.5rem;
  --headingFontSize: 1.8rem;
  --underlined: inset 0 -0.8rem 0 white, 0 .2rem 0 white;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px 0;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  margin-bottom: 2.5rem;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 80px 0 0; }
}

/* For devices larger than 550px */
@media (min-width: 700px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%; }
body {
  font-size: var(--basicFontSize);
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--primaryFonts);
  background-color: white;
  color: var(--neutralColor); }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-weight: 700;
  color: var(--neutralColor);

  span {
    box-shadow: var(--underlined);
  }
}

h1 { font-size: var(--headingFontSize); line-height: 1.6;  letter-spacing: 0;}
h2 { font-size: var(--basicFontSize); line-height: 1.6; letter-spacing: 0; }
h3 { font-size: var(--basicFontSize); line-height: 1.6;  letter-spacing: 0; }
h4 { font-size: var(--basicFontSize); line-height: 1.6; letter-spacing: 0; }
h5 { font-size: var(--basicFontSize); line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: var(--basicFontSize); line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 750px) {
  h1 { font-size: var(--headingFontSize); }
  h2 { font-size: var(--basicFontSize); }
  h3 { font-size: var(--basicFontSize); }
  h4 { font-size: var(--basicFontSize); }
  h5 { font-size: var(--basicFontSize); }
  h6 { font-size: var(--basicFontSize); }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--neutralColor);
  font-size: var(--basicFontSize);
  font-style: italic;
  text-decoration: none;
  box-shadow: inset 0 -0.8rem 0 white, 0 .2rem 0 var(--secondaryColor);
  transition: box-shadow .2s;
  overflow: hidden; }
a:hover {
  box-shadow: inset 0 -0.8rem 0 var(--secondaryColor), 0 .2rem 0 var(--secondaryColor); }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: none; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

::selection {
  color: rgb(255, 255, 255);
  background-color: var(--primaryColor); }

::-moz-selection {
  color: rgb(255, 255, 255);
  background-color: var(--primaryColor); }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Custom
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.headline--highlighted {
  font-weight: 700;
}

.intro, .contact, .about {
  margin-bottom: 5rem;
}

.about span {
  box-shadow: none;
}

.intro {
  h1 {
    margin-bottom: 1.25rem;
  }
  p {
   font-family: var(--primaryFonts);
   font-size: var(--basicFontSize);

   span {
     box-shadow: var(--underlined);
   }
   a {
     font-style: normal;
   }
 }

}

@media (min-width: 750px) {
  .intro--sticky {
    position: sticky;
    top: 80px;
  }
}

.contact {
  ul, li {
    margin-bottom: 0;
  }

  .contact--mail:before,
  .contact--github:before {
    display: inline-block;
    width: 1.5rem;
    margin-right: .5rem;
    transform: translateY(.4rem);
  }

  .contact--mail:before {
    content: url(/me/img/ic_mail.svg);
  }

  .contact--github:before {
    content: url(/me/img/ic_github.svg);
  }
}

.projects__grid {
  margin-bottom: 30rem;
}

.project__wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  background-color: var(--secondaryColor);
  // clip-path: polygon(3% 0%, 97% 0%, 100% 3%, 100% 97%, 97% 100%, 3% 100%, 0% 97%, 0% 3%);

  .project__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 2;
    transition: opacity .2s;
  }

  .project__title {
    position: absolute;
    width: 100%;
    padding-top: .8rem;
    text-align: center;
    z-index: 3;

    h3 {
      font-weight: 400;
    }
  }

  .project__excerpt {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;

    p {
      display: block;
      margin: 0 auto;
      font-size: calc(var(--basicFontSize) - 0.2rem);
      text-align: center;

      span {
        display: inline;
        padding: .2rem .6rem;
        font-style: normal;
        background-color: white;
        box-shadow: none;
        vertical-align: baseline;
      }
    }
  }
}

@media (min-width: 400px) {
  .project__wrapper {
    width: 47.33%;
  }
}

@media (min-width: 750px) {
  .project__wrapper {
    width: 30.333%;
  }
}

.project__wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.project__wrapper:hover {
  cursor: pointer;

  .project__image {
    opacity: .5;
  }
}

.project__anchor {
  position: absolute;
  width: 100%;
  height: 100%;
}

a.project__anchor {
  box-shadow: none;
}

#project__leuchttisch--preview {
  background-image: url("/me/img/project_leuchttisch_preview.png");
}

#project__rita--preview {
  background-image: url("/me/img/project_rita_preview.png");
}

#project__iub--preview {
  background-image: url("/me/img/project_iub_preview.png");
}

#project__various--preview {
  background-image: url("/me/img/project_various_preview.png");
}

.project__detail--wrapper {
  background-color: white;

  .project__detail--meta {
    span {
      font-weight: 700;
    }
  }

  .project__detail--content {
    p:first-of-type {
      padding: 0 10%;
      text-align: center;
      font-style: italic;
    }

    p.to-overview {
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
