$baseColor: rgb(238, 238, 238);
$neutralColor: rgb(70, 70, 70);
$primaryColor: rgb(219, 0, 32);

$neutralFonts: 'Open Sans', Arial, sans-serif;
$primaryFonts: 'Share Tech Mono', monospace;

$basicFontSize: 1.4rem;
