// colors
$baseColor: rgb(238, 238, 238);
$neutralColor: rgb(100, 100, 100);
$primaryColor: rgb(255, 184, 213);
$secondaryColor: rgb(169, 255, 190);

// fonts
$neutralFonts: 'Open Sans', Arial, sans-serif;
$primaryFonts: 'Roboto Mono', monospace;

// misc
$basicFontSize: 1.3rem;
