<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>

    <meta name="description" content="my portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="dennis">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

  </head>
  <body>

    <main class="container">

      {{content}}

    </main>

  </body>
</html>
