<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}{% if page.tag %} | by Dennis Ostendorf, Interface Designer and Developer from Berlin{% endif %}</title>

    <meta name="description" content="{{page.excerpt}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{page.author}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">

    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">

  </head>
  <body>

    <main class="container">

      <section class="row">

        <section class="three columns intro--sticky">

          <section class="intro">
            <h1 class="headline--highlighted"><span>Hi, I am Dennis Ostendorf,</span></h1>
            <p><span>Interface Designer and Developer from Berlin.</span></p>
          </section>

          <section class="contact">
            <ul>
              <li class="contact--mail"><a href="mailto:d.ennis.o@web.de">d.ennis.o@web.de</a></li>
              <li class="contact--github"><a href="https://github.com/dnsos" target="_blank">dnsos</a></li>
            </ul>
          </section>

        </section>

        <section class="nine columns">

          {{content}}

        </section>

      </section>

    </main>

  </body>
</html>
