---
layout: default
---

<section class="project__back--button"><a href="{{site.baseurl}}">Back to overview</a></section>

<article class="project__detail--wrapper {{page.ref}}">

  <section class="project__detail--meta">
    <h1>{{page.title}}{% if page.subtitle %} – {{page.subtitle}}{% endif %}</h1>
    <dl>
      <div>
        <dt>Year:</dt>
        <dd>{{page.year}}</dd>
      </div>
      <div>
        <dt>Role:</dt>
        <dd>{{page.role}}</dd>
      </div>
      {% if page.team %}
      <div>
        <dt>Team:</dt>
        <dd>{{page.team}}</dd>
      </div>
      {% endif %}
      {% if page.tools %}
      <div>
        <dt>Tools:</dt>
        <dd>{{page.tools}}</dd>
      </div>
      {% endif %}
      {% if page.external-link %}
      <div>
        <dt>Link:</dt>
        <dd><a href="https://{{page.external-link}}">{{page.external-link}}</a></dd>
      </div>
      {% endif %}
    </dl>
  </section>

  <section class="project__detail--content">
    {{content}}
    <!--<p class="to-overview"><a href="{{site.baseurl}}">Back to overview</a></p>-->
  </section>

</article>
